.button {
  color: #fff;
  border-color: transparent;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.9;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  align-self: center;
  background-color: var(--button-text-color);
  transition: background-color var(--transition-link-time)
    var(--transition-cubic);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.button.footer-form-button {
  display: inline-flex;
  justify-content: center;
}

.footer-farm-icon {
  margin-left: 10px;
  fill: #fff;
}
