.logo {
  display: block;
  font-family: Raleway, sans-serif;
  color: var(--button-text-color);
  font-size: 26px;
}

.logo__web-header {
  margin-right: 93px;
  color: var(--main-text-color);
}

.logo__web-footer {
  color: #ffffff;
  margin-bottom: 20px;
}
